.course-card {
  width: 25vw;
  box-shadow: rgba(157, 109, 150, 0.3) 0px 4px 6px -1px, rgba(157, 109, 150, 0.2) 0px 2px 4px -1px;
  padding: 10px 20px;
  margin: 20px;
  line-height: 30px;
  border-radius: 10px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
}

.course-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center top;
  border-radius: 5px;
}

.course-title {
  cursor: pointer;
}

.star-inner {
  font-size: 2rem;
  color: #FFD54F;
}

.star-outer {
  font-size: 2rem;
  color: white;
}

.star-container {
  display: flex;
  align-items: center;
}

.ratings-paragraph {
  margin-left: 10px;
  color: white;
}

.ratings-paragraph:hover {
  text-decoration: underline;
}

.course-card a {
  color: white;
  text-decoration: none; 
  font-family: 'Michroma', sans-serif;
}

.course-card a:hover,
.course-card a:visited {
  color: white;
}