.course-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none; 
  padding: 0;
}

.course {
  margin: 10px; 
  width: 25vw;
  height: 300px; 
  transition: transform 0.2s; /* Smooth transition on hover */
  overflow: hidden; /* Prevent overflow of content */
  position: relative; /* Position for absolute elements */
}

.course img {
  width: 100%; /* Full width of the course item */
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Cover the area without distortion */
}

.course h3 {
  font-size: 24px; /* Adjust title size */
  color: black; /* Adjust color */
  position: absolute; /* Position the title */
  bottom: 10px; /* Place at the bottom */
  left: 10px; /* Align with left */
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.8); /* Add text shadow for readability */
}

.course:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.filters-container {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
  margin-left: 1.5rem;
}

.filters-menu {
  display: flex;
  flex-direction: column;
  margin-left: 1vw; /* Adjust margin if needed for spacing */
}

.filters-menu label {
  margin-bottom: 0.5vw;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 24px;
  padding: 0;
  margin-left: 1vw;
}

.menu-button .line {
  background-color: #9B6D96;
  height: 2px;
  width: 24px;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

.menu-button:hover .line,
.menu-button.open:hover .line {
  background-color: #9B6D96;
}

.menu-button:hover,
.menu-button.open:hover {
  background-color: white;
}

.menu-button.open .line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-button.open .line:nth-child(2) {
  opacity: 0;
}

.menu-button.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.go-back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #DEC7DC;
  color: #9B6D96;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 34rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}

.go-back-button:hover {
  background-color: #DEC7DC;
  color: white;
}

#course-search {
  width: 27vw;
  color: #9B6D96;
}

#course-search::placeholder {
  color: #9B6D96;
}
