.course-content {
  width: 40vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px 20px;
  margin: 20px;
  line-height: 30px;
  position: relative;
}

.video-container {
  margin-bottom: 10px;
}

.course-content img {
  width: 400px;
  height: 300px;
  cursor: pointer;
}

.course-content li {
  list-style: none;
  margin-bottom: 10px;
}

img.check-mark {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.progress-tree {
  position: absolute;
  left: -50px;
  top: 10px;
  display: flex;
  flex-direction: column;
}

.progress-item {
  display: flex;
  align-items: center;
}

.progress-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0;
}

.progress-line {
  width: 2px;
  height: 20px;
  background-color: lightgray; 
  margin-left: 4px; 
}
